# Neural Net vs. Goldman
Can an LTSM Neural Net trained on fundamentals extracted from edgar XBRL from the S&P500 pick the same long and short list as Goldman's hedgefund meta list (appologies to my high school english teacher for the run on sentence)

## Data Sources
Download price and fundamental data for the S&P 500 using [pystock-crawler](https://github.com/eliangcs/pystock-crawler):  

`pystock-crawler reports ../tickers.csv -o ../reports.csv ../reports.log`  
`pystock-crawler prices ../tickers.csv -o ../prices.csv -l ../prices.log`

REMIND: Use pystock-crawler symbols to get symbols for training input...

X = 4 quarters of fundamental data and whether stock was up or down from the prior quarter y = whether the stock was up or down x days after the period that X was comprised of

In [117]:
import pandas
prices = pandas.read_csv('prices.csv', parse_dates=['date'], index_col=1)
reports = pandas.read_csv('reports.csv', parse_dates=['date'], index_col=1)
symbols = pandas.read_csv('symbols.csv')

In [128]:
reports[reports.amend == True]

,symbol,amend,period_focus,fiscal_year,doc_type,revenues,op_income,net_income,eps_basic,eps_diluted,dividend,assets,cur_assets,cur_liab,cash,equity,cash_flow_op,cash_flow_inv,cash_flow_fin
date,,,,,,,,,,,,,,,,,,,
2014-03-31,GAS,True,Q1,2014,10-Q,2.462000e+09,592000000,284000000,2.39,2.38,0.4900,1.526400e+10,3589000000,3754000000,267000000,3.843000e+09,853000000,-164000000,-501000000
2014-09-30,GAS,True,Q3,2014,10-Q,5.890000e+08,78000000,-8000000,-0.06,-0.06,0.4900,1.395300e+10,2093000000,2462000000,32000000,3.802000e+09,874000000,-284000000,-663000000
2014-06-30,GAS,True,Q2,2014,10-Q,8.890000e+08,139000000,58000000,0.49,0.49,0.4900,1.418100e+10,2384000000,2595000000,122000000,3.860000e+09,1175000000,-300000000,-843000000
2013-12-31,GAS,True,FY,2013,10-K,4.209000e+09,639000000,295000000,2.50,2.49,1.8800,1.455000e+10,2895000000,3118000000,81000000,3.613000e+09,971000000,-876000000,-121000000
2009-07-31,A,True,Q3,2009,10-Q,1.057000e+09,-1000000,-19000000,-0.06,-0.06,0.0000,6.573000e+09,2897000000,991000000,1479000000,2.489000e+09,195000000,34000000,-104000000
2012-12-31,AXP,True,FY,2012,10-K,2.959200e+10,NaN,4482000000,3.91,3.89,0.8000,1.531400e+11,NaN,NaN,22250000000,1.888600e+10,7082000000,-6545000000,-3268000000
2013-12-31,AXP,True,FY,2013,10-K,3.086400e+10,NaN,5359000000,4.91,4.88,0.8900,1.533750e+11,NaN,NaN,19486000000,1.949600e+10,8547000000,-7269000000,-3891000000
2014-12-31,AXP,True,FY,2014,10-K,3.224800e+10,NaN,5885000000,5.58,5.56,1.0100,1.591030e+11,NaN,NaN,22288000000,2.067300e+10,10990000000,-7967000000,11000000
2009-09-26,AAPL,True,FY,2009,10-K,4.290500e+10,11740000000,8235000000,9.22,9.08,0.0000,4.750100e+10,31555000000,11506000000,5263000000,3.164000e+10,10159000000,-17434000000,663000000
2010-06-30,APA,True,Q2,2010,10-Q,2.971910e+09,1539000000,860223000,2.55,2.53,0.0000,3.043241e+10,4506940000,2202835000,1805347000,1.767576e+10,3085441000,-3218483000,-109728000
2010-12-31,APA,True,FY,2010,10-K,1.378000e+10,6089000000,3000000000,8.53,8.46,0.6000,4.342500e+10,3480000000,3524000000,134000000,2.437700e+10,6726000000,-13403000000,4763000000
2012-12-31,AVP,True,FY,2012,10-K,1.071710e+10,314800000,-42500000,-0.10,-0.10,0.2300,7.382500e+09,3928900000,2704600000,1209600000,1.233300e+09,556100000,-213700000,-401300000
2009-09-30,BDX,True,FY,2009,10-K,7.160874e+09,1650353000,1231603000,5.12,4.99,0.0000,9.304624e+09,4646954000,1777093000,1394244000,5.142712e+09,1691520000,-1072957000,-79696000
2013-03-31,BSX,True,Q1,2013,10-Q,1.761000e+09,-330000000,-354000000,-0.26,-0.26,0.0000,1.676300e+10,3102000000,1636000000,268000000,6.503000e+09,163000000,-11000000,-90000000
2014-02-28,KMX,True,FY,2014,10-K,1.257430e+10,NaN,492586000,2.20,2.16,0.0000,1.170716e+10,2643224000,875497000,627901000,3.316997e+09,-613163000,-336681000,1128381000
2010-03-31,CHK,True,Q1,2010,10-Q,2.798000e+09,1212000000,732000000,1.17,1.14,0.0750,3.028800e+10,3335000000,3123000000,516000000,1.221600e+10,1183000000,-1014000000,40000000
2009-06-30,CF,True,Q2,2009,10-Q,9.910000e+08,395200000,213000000,4.40,4.33,0.1000,2.279400e+09,1284400000,309500000,816100000,1.689700e+09,487200000,-181700000,-119900000
2011-09-30,CF,True,Q3,2011,10-Q,1.403800e+09,582300000,330900000,4.77,4.73,0.4000,9.245800e+09,2057900000,1502500000,1426100000,4.749800e+09,1955100000,-49800000,-1279200000
2009-12-31,XEC,True,FY,2009,10-K,1.009794e+09,-455822000,-311943000,0.24,0.24,0.0000,3.444537e+09,407258000,388763000,2544000,2.038106e+09,675177000,-444094000,-229752000
2010-12-31,XEC,True,FY,2010,10-K,1.613683e+09,911361000,574782000,0.32,0.32,0.0000,4.358247e+09,561767000,512313000,114126000,2.609832e+09,1130432000,-977558000,-41292000
2014-12-31,XEC,True,FY,2014,10-K,2.424176e+09,813934000,497298000,5.79,5.78,0.0000,8.725293e+09,931804000,776327000,405862000,4.500632e+09,1619365000,-1740467000,522433000
2013-06-30,CME,True,Q2,2013,10-Q,8.161000e+08,507800000,311200000,0.94,0.93,0.0000,4.688270e+10,16924600000,16192900000,1968000000,2.185460e+10,768800000,-56600000,-348900000
2015-03-31,DVA,True,Q1,2015,10-Q,3.287965e+09,-64156000,-110617000,-0.52,-0.52,0.0000,1.836666e+10,4300795000,2679516000,1011271000,5.170714e+09,410089000,-252287000,-110868000
2012-12-31,DISCA,True,FY,2012,10-K,4.487000e+09,1855000000,943000000,2.51,2.48,0.0000,1.293000e+10,2730000000,946000000,1201000000,6.293000e+09,1099000000,-643000000,-305000000
2013-12-31,DTV,True,FY,2013,10-K,3.175400e+10,5150000000,2859000000,5.22,5.17,0.0000,2.190500e+10,5953000000,6530000000,2180000000,-6.544000e+09,6394000000,-3753000000,-2176000000
2009-06-30,DTE,True,Q2,2009,10-Q,1.688000e+09,215000000,83000000,0.51,0.51,0.5300,2.389500e+10,2535000000,2076000000,42000000,6.179000e+09,1301000000,-610000000,-735000000
2011-09-30,DPS,True,Q3,2011,10-Q,1.529000e+09,261000000,154000000,0.71,0.71,0.3200,9.189000e+09,1695000000,1726000000,651000000,2.256000e+09,580000000,-146000000,-92000000
2009-06-30,ETR,True,Q2,2009,10-Q,2.520789e+09,474496000,226813000,1.16,1.14,0.7500,3.648522e+10,4430066000,-3501219000,1280907000,-1.061400e+07,1016349000,-1119481000,-535949000
2009-09-30,GE,True,Q3,2009,10-Q,3.779900e+10,NaN,2419000000,0.23,0.23,0.1000,7.878460e+11,NaN,NaN,61374000000,1.258090e+11,13951000000,34808000000,-35568000000
2013-03-31,GM,True,Q1,2013,10-Q,3.634400e+10,959000000,865000000,0.63,0.58,0.0000,1.537750e+11,72570000000,56539000000,20643000000,3.833500e+10,819000000,-510000000,2167000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-08-31,MON,True,FY,2011,10-K,1.182200e+10,2502000000,1607000000,3.00,2.96,1.1400,1.984400e+10,8809000000,4729000000,2572000000,1.171600e+10,2814000000,-975000000,-864000000
2011-09-30,NFLX,True,Q3,2011,10-Q,8.218390e+08,96842000,62460000,1.19,1.16,0.0000,1.961558e+09,1190113000,967966000,159199000,3.883520e+08,49531000,-41581000,-23958000
2010-07-30,NTAP,True,Q1,2011,10-Q,1.137800e+09,164200000,141800000,0.40,0.38,0.0000,6.645800e+09,4594200000,1665400000,1612000000,2.849900e+09,177300000,-408900000,139900000
2012-05-31,MOS,True,FY,2012,10-K,1.110780e+10,2611100000,1930200000,4.44,4.42,0.2750,1.669040e+10,6581100000,1917700000,3811000000,1.199940e+10,2705800000,-1627400000,-1061100000
2009-06-30,NRG,True,Q2,2009,10-Q,2.237000e+09,619000000,426000000,1.68,1.56,0.0000,2.730500e+10,9332000000,6638000000,2282000000,7.855000e+09,722000000,-500000000,565000000
2011-03-31,ORLY,True,Q1,2011,10-Q,1.382738e+09,196437000,102474000,0.73,0.72,0.0000,5.248086e+09,2467411000,1317974000,230048000,3.187850e+09,294113000,-92246000,-1540000
2011-12-31,PNR,True,FY,2011,10-K,3.456686e+09,168517000,34222000,0.35,0.34,0.8000,4.586313e+09,1237835000,641841000,50077000,2.047392e+09,320226000,-808086000,503553000
2011-06-30,PLD,True,Q2,2011,10-Q,3.359010e+08,-40393000,-151471000,-0.49,-0.49,0.2500,2.913451e+10,NaN,NaN,260893000,1.435354e+10,-17227000,-646530000,885394000
2014-12-31,PX,True,FY,2014,10-K,1.227300e+10,2608000000,1694000000,5.79,5.73,2.6000,1.980200e+10,2839000000,2490000000,126000000,6.010000e+09,2868000000,-1803000000,-1008000000
2011-06-30,PPL,True,Q2,2011,10-Q,2.489000e+09,595000000,196000000,0.35,0.35,0.3500,4.053700e+10,5364000000,4593000000,1269000000,1.091900e+10,814000000,-6299000000,5847000000
2012-06-30,PPL,True,Q2,2012,10-Q,2.549000e+09,572000000,271000000,0.46,0.46,0.3600,4.350800e+10,6151000000,5318000000,981000000,1.098000e+10,947000000,-1353000000,191000000
2010-10-30,ROST,True,Q3,2010,10-Q,1.874320e+09,NaN,121378000,1.04,1.02,0.1600,2.962589e+09,1904844000,1247630000,732798000,1.285011e+09,426761000,-149040000,-313266000
2009-06-30,ROP,True,Q2,2009,10-Q,5.049100e+08,95964000,59588000,0.66,0.64,0.0825,3.959650e+09,865437000,474258000,220826000,2.145238e+09,160862000,-5593000,-117852000
2009-06-30,ROP,True,Q2,2009,10-Q,5.049100e+08,95964000,59588000,0.66,0.64,0.0825,3.959650e+09,865437000,474258000,220826000,2.145238e+09,160862000,-5593000,-117852000
2013-03-31,ROP,True,Q1,2013,10-Q,7.371350e+08,185177000,124914000,1.26,1.25,0.1650,7.052990e+09,1285056000,1082773000,430022000,3.782176e+09,171268000,-13210000,-88804000
2012-06-30,SWN,True,Q2,2012,10-Q,5.997280e+08,-652394000,-405132000,-1.16,-1.16,0.0000,7.639210e+09,1003513000,885949000,41499000,3.598845e+09,837390000,-1101813000,290310000
2012-09-30,SWN,True,Q3,2012,10-Q,6.858480e+08,-71838000,-54053000,-0.16,-0.16,0.0000,7.356562e+09,846747000,761165000,18560000,3.427009e+09,1192477000,-1544425000,354891000
2009-06-30,LUV,True,Q2,2009,10-Q,2.616000e+09,123000000,91000000,0.12,0.12,0.0000,1.402700e+10,3094000000,3068000000,946000000,5.148000e+09,135000000,-377000000,43000000
2009-03-31,LUV,True,Q1,2009,10-Q,2.357000e+09,-50000000,-91000000,-0.12,-0.12,0.0000,1.417900e+10,2996000000,3123000000,1145000000,4.928000e+09,286000000,-638000000,129000000
2011-09-30,LUV,True,Q3,2011,10-Q,4.311000e+09,225000000,-140000000,-0.18,-0.18,0.0045,1.788500e+10,4594000000,5320000000,1016000000,6.485000e+09,-218000000,-137000000,-224000000
2010-01-30,TGT,True,FY,2009,10-K,6.343500e+10,NaN,2488000000,3.31,3.30,0.0000,4.453300e+10,18424000000,11327000000,2200000000,1.534700e+10,5881000000,-1703000000,-2842000000
2009-06-30,RIG,True,Q2,2009,10-Q,2.882000e+09,1121000000,806000000,2.50,2.49,0.0000,3.525700e+10,4630000000,2959000000,907000000,1.899500e+10,1576000000,-1009000000,-962000000
2014-08-31,WAG,True,FY,2014,10-K,7.639200e+10,4194000000,1932000000,2.03,2.00,1.2800,3.718200e+10,12242000000,8895000000,2646000000,2.056100e+10,3893000000,-1731000000,-1622000000
2010-10-01,VAR,True,FY,2010,10-K,2.356585e+09,534202000,360422000,2.96,2.91,0.0000,2.323952e+09,1681344000,903541000,520221000,1.275367e+09,460786000,-74815000,-422175000
2013-07-31,WMT,True,Q2,2014,10-Q,1.162160e+11,6793000000,4069000000,1.24,1.24,0.0000,2.009690e+11,60002000000,72214000000,9016000000,7.668600e+10,11251000000,-5796000000,-4117000000
2014-03-31,VTR,True,Q1,2014,10-Q,7.414700e+08,NaN,121047000,0.41,0.41,0.7250,1.970277e+10,NaN,NaN,59791000,8.809922e+09,284421000,-218350000,-101657000
2013-12-31,VTR,True,FY,2013,10-K,2.810053e+09,NaN,453509000,1.55,1.54,2.7350,1.973149e+10,NaN,NaN,94816000,8.903811e+09,1194755000,-1282760000,114996000
2009-06-30,WMB,True,Q2,2009,10-Q,1.909000e+09,351000000,142000000,0.24,0.24,0.1100,2.502600e+10,3899000000,2315000000,1853000000,8.853000e+09,1134000000,-1063000000,343000000
2011-12-31,WMB,True,FY,2011,10-K,7.930000e+09,1867000000,376000000,0.64,0.63,0.7750,1.650200e+10,1894000000,1675000000,889000000,3.083000e+09,3439000000,-3003000000,-342000000
2011-12-31,WMB,True,FY,2011,10-K,7.930000e+09,1867000000,376000000,0.64,0.63,0.7750,1.650200e+10,1894000000,1675000000,889000000,2.586000e+09,3439000000,-3003000000,-342000000

In [127]:
# Create a set of sequences of reports excluding amended
s = 'MMM'
r = reports[reports.symbol == s].sort(ascending=True)
p = prices[prices.symbol == s].sort(ascending=True)
print "Found", len(r), "reports for", s

Found 24 reports for MMM

In [121]:
# Add closing stock price to each report
r['close'] = r.index.map(lambda x: p.ix[p.index[p.index.searchsorted(x)]]['close'])

In [122]:
# Fixup annual 10-k numbers by subtracting the prior 3 quarters
for c in ['revenues', 'op_income', 'net_income',
 'eps_basic', 'eps_diluted', 'dividend',
 'cash_flow_op', 'cash_flow_inv', u'cash_flow_fin']:
    r[c + '_adj'] = r[c] - r[c].shift(1) - r[c].shift(2) - r[c].shift(3)
    r.ix[r.period_focus == 'FY', c] = r[r.period_focus == 'FY'][c + '_adj']

In [123]:
r

,symbol,amend,period_focus,fiscal_year,doc_type,revenues,op_income,net_income,eps_basic,eps_diluted,...,close,revenues_adj,op_income_adj,net_income_adj,eps_basic_adj,eps_diluted_adj,dividend_adj,cash_flow_op_adj,cash_flow_inv_adj,cash_flow_fin_adj
date,,,,,,,,,,,,,,,,,,,,,
2009-06-30,MMM,False,Q2,2009,10-Q,5719000000,1191000000,783000000,1.12,1.12,...,60.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-30,MMM,False,Q3,2009,10-Q,6193000000,1478000000,957000000,1.36,1.35,...,73.80000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-31,MMM,False,FY,2009,10-K,NaN,NaN,NaN,NaN,NaN,...,82.67000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,MMM,False,Q1,2010,10-Q,6348000000,1445000000,930000000,1.31,1.29,...,83.57000,-28687000000,-6038000000,-4003000000,-5.73,-5.70,-2.535,-9917000000,2196000000,4283000000
2010-06-30,MMM,False,Q2,2010,10-Q,6731000000,1596000000,1121000000,1.57,1.54,...,78.99000,-28933000000,-6141000000,-3959000000,-5.66,-5.62,-2.550,-7700000000,2357000000,3008000000
2010-09-30,MMM,False,Q3,2010,10-Q,6874000000,1576000000,1106000000,1.55,1.53,...,86.71000,-29328000000,-6279000000,-4138000000,-5.89,-5.82,-2.565,-4700000000,3217000000,1825000000
2010-12-31,MMM,False,FY,2010,10-K,6709000000,1301000000,928000000,1.29,1.27,...,86.30000,6709000000,1301000000,928000000,1.29,1.27,0.525,-1671000000,676000000,14000000
2011-03-31,MMM,False,Q1,2011,10-Q,7311000000,1578000000,1081000000,1.52,1.49,...,93.50000,-32956000000,-7512000000,-5231000000,-7.32,-7.21,-2.600,-10204000000,4310000000,3317000000
2011-06-30,MMM,False,Q2,2011,10-Q,7680000000,1655000000,1160000000,1.63,1.60,...,94.85000,-33167000000,-7417000000,-5112000000,-7.16,-7.05,-2.625,-7266000000,3577000000,2510000000
2011-09-30,MMM,False,Q3,2011,10-Q,7531000000,1581000000,1088000000,1.54,1.52,...,71.79000,-34122000000,-7570000000,-5238000000,-7.33,-7.20,-2.650,-4545000000,2671000000,2324000000
2011-12-31,MMM,False,FY,2011,10-K,7089000000,1364000000,954000000,1.36,1.35,...,83.49000,7089000000,1364000000,954000000,1.36,1.35,0.550,-1179000000,432000000,324000000
2012-03-31,MMM,False,Q1,2012,10-Q,7486000000,1634000000,1125000000,1.61,1.59,...,89.23000,-37336000000,-7780000000,-5406000000,-7.61,-7.49,-2.710,-10186000000,5068000000,6288000000
2012-06-30,MMM,False,Q2,2012,10-Q,7534000000,1728000000,1167000000,1.68,1.66,...,89.28000,-37094000000,-7665000000,-5329000000,-7.52,-7.41,-2.750,-7441000000,3491000000,6024000000
2012-09-30,MMM,False,Q3,2012,10-Q,7497000000,1678000000,1161000000,1.68,1.65,...,93.29000,-37134000000,-7862000000,-5414000000,-7.66,-7.56,-2.790,-4767000000,1481000000,3954000000
2012-12-31,MMM,False,FY,2012,10-K,7387000000,1443000000,991000000,1.43,1.42,...,92.85000,7387000000,1443000000,991000000,1.43,1.42,0.590,-1307000000,345000000,-351000000
2013-03-31,MMM,False,Q1,2013,10-Q,7634000000,1646000000,1129000000,1.63,1.61,...,105.65000,-37301000000,-8243000000,-5643000000,-8.13,-8.02,-2.905,-10085000000,5269000000,2557000000
2013-06-30,MMM,False,Q2,2013,10-Q,7752000000,1702000000,1197000000,1.74,1.71,...,109.31000,-37283000000,-8105000000,-5537000000,-7.97,-7.87,-2.950,-7183000000,4485000000,1531000000
2013-09-30,MMM,False,Q3,2013,10-Q,7916000000,1739000000,1230000000,1.81,1.78,...,119.41000,-37374000000,-8092000000,-5540000000,-7.96,-7.86,-2.995,-5143000000,3129000000,628000000
2013-12-31,MMM,False,FY,2013,10-K,7569000000,1579000000,1103000000,1.65,1.62,...,140.25000,7569000000,1579000000,1103000000,1.65,1.62,1.490,-1674000000,991000000,610000000
2014-03-31,MMM,False,Q1,2014,10-Q,7831000000,1716000000,1207000000,1.83,1.79,...,135.66000,-38708000000,-8391000000,-5879000000,-8.55,-8.42,-3.810,-11222000000,2011000000,9217000000
2014-06-30,MMM,False,Q2,2014,10-Q,8134000000,1856000000,1267000000,1.94,1.91,...,143.24001,-38484000000,-8265000000,-5829000000,-8.53,-8.38,-4.030,-8001000000,1266000000,7704000000
2014-09-30,MMM,False,Q3,2014,10-Q,8137000000,1901000000,1303000000,2.02,1.98,...,141.67999,-38699000000,-8337000000,-5830000000,-8.58,-8.44,-4.250,-5198000000,1144000000,4756000000
2014-12-31,MMM,False,FY,2014,10-K,7719000000,1662000000,1179000000,1.84,1.81,...,164.32001,7719000000,1662000000,1179000000,1.84,1.81,1.025,-1641000000,848000000,1853000000
2015-03-31,MMM,False,Q1,2015,10-Q,7578000000,1730000000,1199000000,1.88,1.85,...,164.95000,-40514000000,-9162000000,-6327000000,-9.71,-9.53,-4.275,-12721000000,1753000000,12506000000

In [115]:
# Delete all non-numeric columns
r = r.ix[:,5:-1]

In [116]:
r

,revenues,op_income,net_income,eps_basic,eps_diluted,dividend,assets,cur_assets,cur_liab,cash,...,cash_flow_inv,cash_flow_fin,revenues_adj,op_income_adj,net_income_adj,eps_basic_adj,eps_diluted_adj,dividend_adj,cash_flow_op_adj,cash_flow_inv_adj
date,,,,,,,,,,,,,,,,,,,,,
2009-06-30,5719000000,1191000000,783000000,1.12,1.12,0.510,26095000000,9898000000,5318000000,2596000000,...,-375000000,-1127000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-30,6193000000,1478000000,957000000,1.36,1.35,0.510,27633000000,11196000000,5766000000,3239000000,...,-1076000000,-1417000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-31,NaN,NaN,NaN,NaN,NaN,NaN,27250000000,10795000000,4897000000,3040000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,6348000000,1445000000,930000000,1.31,1.29,0.525,28022000000,12106000000,5148000000,2848000000,...,-987000000,-275000000,-28687000000,-6038000000,-4003000000,-5.73,-5.70,-2.535,-9917000000,2196000000
2010-06-30,6731000000,1596000000,1121000000,1.57,1.54,0.525,28496000000,12891000000,5437000000,3022000000,...,-1438000000,-698000000,-28933000000,-6141000000,-3959000000,-5.66,-5.62,-2.550,-7700000000,2357000000
2010-09-30,6874000000,1576000000,1106000000,1.55,1.53,0.525,30065000000,14048000000,5395000000,4466000000,...,-940000000,-1162000000,-29328000000,-6279000000,-4138000000,-5.89,-5.82,-2.565,-4700000000,3217000000
2010-12-31,6709000000,1301000000,928000000,1.29,1.27,0.525,30156000000,12215000000,6089000000,3377000000,...,676000000,14000000,6709000000,1301000000,928000000,1.29,1.27,0.525,-1671000000,676000000
2011-03-31,7311000000,1578000000,1081000000,1.52,1.49,0.550,31129000000,12645000000,5900000000,2747000000,...,-757000000,-664000000,-32956000000,-7512000000,-5231000000,-7.32,-7.21,-2.600,-10204000000,4310000000
2011-06-30,7680000000,1655000000,1160000000,1.63,1.60,0.550,32282000000,13537000000,6203000000,3376000000,...,-809000000,-1437000000,-33167000000,-7417000000,-5112000000,-7.16,-7.05,-2.625,-7266000000,3577000000
2011-09-30,7531000000,1581000000,1088000000,1.54,1.52,0.550,32115000000,13669000000,6165000000,3376000000,...,-1584000000,-1898000000,-34122000000,-7570000000,-5238000000,-7.33,-7.20,-2.650,-4545000000,2671000000
2011-12-31,7089000000,1364000000,954000000,1.36,1.35,0.550,31616000000,12240000000,5441000000,2219000000,...,432000000,324000000,7089000000,1364000000,954000000,1.36,1.35,0.550,-1179000000,432000000
2012-03-31,7486000000,1634000000,1125000000,1.61,1.59,0.590,32015000000,12853000000,5408000000,2332000000,...,-43000000,-722000000,-37336000000,-7780000000,-5406000000,-7.61,-7.49,-2.710,-10186000000,5068000000
2012-06-30,7534000000,1728000000,1167000000,1.68,1.66,0.590,33339000000,14088000000,5707000000,3308000000,...,-854000000,-271000000,-37094000000,-7665000000,-5329000000,-7.52,-7.41,-2.750,-7441000000,3491000000
2012-09-30,7497000000,1678000000,1161000000,1.68,1.65,0.590,34479000000,14494000000,6595000000,3029000000,...,-2134000000,-714000000,-37134000000,-7862000000,-5414000000,-7.66,-7.56,-2.790,-4767000000,1481000000
2012-12-31,7387000000,1443000000,991000000,1.43,1.42,0.590,33876000000,13630000000,6200000000,2883000000,...,345000000,-351000000,7387000000,1443000000,991000000,1.43,1.42,0.590,-1307000000,345000000
2013-03-31,7634000000,1646000000,1129000000,1.63,1.61,0.635,34029000000,13855000000,5937000000,2928000000,...,-405000000,-486000000,-37301000000,-8243000000,-5643000000,-8.13,-8.02,-2.905,-10085000000,5269000000
2013-06-30,7752000000,1702000000,1197000000,1.74,1.71,0.635,34130000000,13983000000,6335000000,2942000000,...,-740000000,-1727000000,-37283000000,-8105000000,-5537000000,-7.97,-7.87,-2.950,-7183000000,4485000000
2013-09-30,7916000000,1739000000,1230000000,1.81,1.78,0.635,33604000000,13282000000,7439000000,2340000000,...,-702000000,-3643000000,-37374000000,-8092000000,-5540000000,-7.96,-7.86,-2.995,-5143000000,3129000000
2013-12-31,7569000000,1579000000,1103000000,1.65,1.62,1.490,33550000000,12733000000,7498000000,2581000000,...,991000000,610000000,7569000000,1579000000,1103000000,1.65,1.62,1.490,-1674000000,991000000
2014-03-31,7831000000,1716000000,1207000000,1.83,1.79,0.855,33547000000,12762000000,7450000000,1954000000,...,-287000000,-1399000000,-38708000000,-8391000000,-5879000000,-8.55,-8.42,-3.810,-11222000000,2011000000
2014-06-30,8134000000,1856000000,1267000000,1.94,1.91,0.855,33970000000,13193000000,7040000000,2125000000,...,-579000000,-2584000000,-38484000000,-8265000000,-5829000000,-8.53,-8.38,-4.030,-8001000000,1266000000
2014-09-30,8137000000,1901000000,1303000000,2.02,1.98,0.855,32776000000,12681000000,7705000000,1929000000,...,-578000000,-4473000000,-38699000000,-8337000000,-5830000000,-8.58,-8.44,-4.250,-5198000000,1144000000
2014-12-31,7719000000,1662000000,1179000000,1.84,1.81,1.025,31269000000,11765000000,5998000000,1897000000,...,848000000,1853000000,7719000000,1662000000,1179000000,1.84,1.81,1.025,-1641000000,848000000
2015-03-31,7578000000,1730000000,1199000000,1.88,1.85,1.025,30643000000,12518000000,5082000000,1791000000,...,0,-1154000000,-40514000000,-9162000000,-6327000000,-9.71,-9.53,-4.275,-12721000000,1753000000

In [40]:
window_size = 4
overlap = 1
num_windows = 4
[r[i:i + window_size].index for i in range(len(r) - window_size + 1 - num_windows,len(r) - window_size + 1, overlap)]

[DatetimeIndex(['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30'], dtype='datetime64[ns]', name=u'date', freq=None, tz=None),
 DatetimeIndex(['2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30'], dtype='datetime64[ns]', name=u'date', freq=None, tz=None),
 DatetimeIndex(['2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31'], dtype='datetime64[ns]', name=u'date', freq=None, tz=None),
 DatetimeIndex(['2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31'], dtype='datetime64[ns]', name=u'date', freq=None, tz=None)]

In [2]:
# Add closing price and delta from next period i.e. did it go up 3 months from now
# instead make it more binary ie 1 is went up by X% using group df1 = df[df['budget'] > 10000]
# REMIND: Normalize annual number to quarterly?
XY = pandas.DataFrame()
for s in symbols['symbol']:
    try:
        r = reports[reports.symbol == s].sort(ascending=True)
        p = prices[prices.symbol == s].sort(ascending=True)
        r['close'] = r.index.map(lambda x: p.ix[p.index[p.index.searchsorted(x)]]['close'])
        r['delta'] = (r['close'].shift(-1) - r['close']).fillna(0)
        XY = XY.append(r)
    except:
        print "Problems parsing", s
print "Found", len(XY['symbol'].unique()), "symbols"

Problems parsing DISCK
Found 474 symbols

,symbol,amend,period_focus,fiscal_year,doc_type,revenues,op_income,net_income,eps_basic,eps_diluted,...,assets,cur_assets,cur_liab,cash,equity,cash_flow_op,cash_flow_inv,cash_flow_fin,close,delta
2009-06-30,MMM,False,Q2,2009,10-Q,5719000000,1191000000,783000000,1.12,1.12,...,26095000000,9898000000,5318000000,2596000000,11221000000,2161000000,-375000000,-1127000000,60.10,13.70
2009-09-30,MMM,False,Q3,2009,10-Q,6193000000,1478000000,957000000,1.36,1.35,...,27633000000,11196000000,5766000000,3239000000,12919000000,3897000000,-1076000000,-1417000000,73.80,8.87
2009-12-31,MMM,False,FY,2009,10-K,23123000000,4814000000,3193000000,4.56,4.52,...,27250000000,10795000000,4897000000,3040000000,13302000000,4941000000,-1732000000,-2014000000,82.67,0.90
2010-03-31,MMM,False,Q1,2010,10-Q,6348000000,1445000000,930000000,1.31,1.29,...,28022000000,12106000000,5148000000,2848000000,13851000000,1082000000,-987000000,-275000000,83.57,-4.58
2010-06-30,MMM,False,Q2,2010,10-Q,6731000000,1596000000,1121000000,1.57,1.54,...,28496000000,12891000000,5437000000,3022000000,14263000000,2220000000,-1438000000,-698000000,78.99,7.72

In [4]:
# Split into train/test sets
# Should use sklearn.cross_validation.StratifiedShuffleSplit to try and maintain industry sector % in each
# Or bin by financial size http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/
# s = XY['symbol'].unique()
from sklearn.cross_validation import train_test_split
unique_symbols = pandas.unique(XY['symbol'].values.ravel())
train_symbols, test_symbols = train_test_split(unique_symbols, test_size = 0.2)
print "num train symbols:", len(train_symbols)
train = XY[XY['symbol'].isin(train_symbols)]
test = XY[XY['symbol'].isin(test_symbols)]
print "test/train", 1.0 * len(test)/len(train)

num train symbols: 379
test/train 0.253043685844

In [5]:
# Convert into pure numerical matrices for training by dropping non-numeric columsn and split into X/y
X_train = train.ix[:,5:-1].values
y_train = train['delta'].values
X_test = test.ix[:,5:-1].values
y_test = test['delta'].values

In [7]:
import numpy
with open("train_test.npz", "wb") as f:
    numpy.savez(f, X_train=X_train, y_train=y_train, X_test=X_test, y_test=y_test)